@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;1,400;1,500&display=swap');


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  min-width: 320px;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

a {
  font-weight: 500;
  color: #fbfbfc;
  text-decoration: inherit;
}
a:hover {
  color: #485DED;
}

h1 {
  position: relative;
  top: 30px;
  margin-bottom: 60px;
  font-size: 3.2em;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  color: #485DED;
}

button, .button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, .button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.title {
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-style: normal;
}

.global .title {
  padding-top: 30px;
}
.global {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 40px;
  height: 40px;
  margin: 16px;
}

#dropzone {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 578px;
  width: 650px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.index_content {
  width: 500px;
  max-width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input[type=file]::file-selector-button, button {
  border: 2px solid #485DED;
  padding: 10px;
  background-color: #485DED;
  transition: 1s;
  color:#ffffff;
}

input[type=file]::file-selector-button:hover, button:hover {
  background-color: #ffffff;
  border: 2px solid #485DED;
  color: black;
  cursor: pointer;
}

#file_name {
  text-align: center;
}

.canvas_content {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.informations_content {
  padding: 10px 30px 10px 10px;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.informations_content p {
  color: gray;
  font-size: small;
  text-align: center;
}

canvas {
  padding: 30px;
  border-radius: 50px;
}

h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
}


h2.name {
  color:#485DED;
  padding: 15px;
}

#dropzone h3, #dropzone p{
  font-size: 35px;
}

.values {
  padding:15px;
  display:flex;
  justify-content: space-between;
}

.buttonCss {
  display: flex;
  justify-content: center;
}
.values:nth-child(odd) {
  background: none;
}
.values:nth-child(even) {
  background: #ffffff;
}
.values:nth-child(odd) {
  background: #a3aef639;
}

.styled-range {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #485DED; /* Couleur unie */
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease;
}

.styled-range:hover {
  background: #485DED; /* Couleur légèrement plus sombre au survol */
}

.styled-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #007bff;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.styled-range::-webkit-slider-thumb:hover {
  background: #485DED;
  transform: scale(1.2);
}

.styled-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #485DED;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.styled-range::-moz-range-thumb:hover {
  background: #485DED;
  transform: scale(1.2);
}
